/*클래스 선언은 파스칼 케이스로*/
/*
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900
.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/
/*
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900

.noto-sans-kr-<uniquifier> {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/
.InterBold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;   
}

.InterBold {
    font-weight: 700;
}

body {
    background: var(--darkSky, linear-gradient(180deg, hsl(216, 28%, 7%) 0%, #1D0C4E 100%));
    background-repeat: no-repeat; /* 배경 이미지 반복을 막습니다 */
    background-size: cover; /* 배경 이미지를 화면 전체에 맞게 확장합니다 */
    background-attachment: fixed; /* 배경이 스크롤 시에도 고정되도록 설정합니다 */
}

.HeaderContainer {
    height: 86px;
    width: 100%;
    display: flex;
    justify-content: center; /* 요소들을 수평으로 중앙에 배치 */
    align-items: center; /* 요소들을 수직으로 중앙에 배치 */
}

.HeaderLogo {
    margin-top: 26px; 
    margin-right: 304px;
}

.LiFont {
    color: aliceblue;
    list-style-type: none;
    padding-left: 0; /* 왼쪽 패딩 제거 */
}

.HeaderNavFont {
    font-size: 24px;
}

.HeaderNav {
    display: flex;
    margin-top: 0;
}
/*
.LiFont > li > a {
    
}
*/
.HeaderHome, .HeaderUpload, .HeaderSearch, .HeaderCatagory {
    margin-top: 39px;
}

.HeaderHome {
    margin-right: 72px;
}

.HeaderUpload {
    margin-right: 59px;
}

.HeaderSearch {
    margin-right: 58px;
}